<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Assets/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="@Url.Action("Index", "Home")" class="nav-brand"><img src="~/Assets/img/core-img/logo.png"></a>



                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("News", "Home")">News</a></li>
                                    <li>
                                        <a href="">Albums</a>
                                        <ul class="dropdown">
                                            <li><a href="@Url.Action("Worldplace", "Home")">Worldplace (2013)</a></li>
                                            <li><a href="@Url.Action("Delight", "Home")">Delight (2015)</a></li>
                                            <li><a href="@Url.Action("Memory", "Home")">Memory (2016)</a></li>

                                        </ul>
                                    <li><a href="@Url.Action("Videos", "Home")">Videos</a></li>
                                    <li><a href="@Url.Action("Photos", "Home")">Photos</a></li>
                                    <li><a href="@Url.Action("Tour", "Home")">Tour</a></li>
                                    <li><a href="@Url.Action("Shop", "Home")">Shop</a></li>
                                    @if (Session["login"] != null)
                                    {
                                        if (Session["login"].ToString().Equals("admin"))
                                        {
                                            <li><a href="@Url.Action("Index", "Admin")">Admin Panel</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("MyOrders", "Home")">My Orders</a></li>
                                        }
                                    }
                                </ul>
                                @if (Session["login"] == null)
                                {
                                <!-- Login/Register Button -->
                                <div class="login-register-cart-button d-flex align-items-center">

                                    <div class="login-register-btn mr-50">
                                        <a href="@Url.Action("Login", "Home")" id="loginBtn">Login / Register</a>
                                    </div>

                                </div>
                                }
                                else
                                {
                                    <div class="login-register-cart-button d-flex align-items-center">

                                        <div class="login-register-btn mr-50">
                                            <a href="@Url.Action("Logout", "Home")" id="loginBtn">Log Out</a>
                                        </div>

                                    </div>
                                }
                                <div>
                                    <a href="@Url.Action("ChangeCulture", "Home", new { lang = "en"})" style="color:white">EN</a>|<a href="@Url.Action("ChangeCulture", "Home", new { lang = "ru"})" style="color:white">RU</a>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Assets/img/core-img/logo1.png" alt=""></a>
                </div>
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="https://vk.com/detroit_hills">VK</a></li>
                            <li><a href="https://www.facebook.com/DetroitHills/">Facebook</a></li>
                            <li><a href="https://www.instagram.com/detroit_hills/">Instagram</a></li>
                            <li><a href="https://www.last.fm/ru/music/Detroit+Hills">LastFM</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Assets/js/jquery/jquery-2.2.4.min.js"></script>

    <script src="~/Assets/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Assets/js/active.js"></script>  
    <script src="~/Scripts/jquery-1.8.0.js"></script> 
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
   
</body>
</html>
