
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/bg-1.jpg);">
    <div class="bradcumbContent">
        <h2>Admin Panel</h2>
    </div>
</section>

<p>@Html.ActionLink("Create Post","CreatePost");</p>
<p>@Html.ActionLink("Add Concert", "AddConcert")</p>
<p>@Html.ActionLink("Add Video", "AddVideo")</p>
<p>@Html.ActionLink("Add Photos", "AddPhotos")</p>
<p>@Html.ActionLink("Add Item", "AddItem")</p>
<p>@Html.ActionLink("Orders", "Orders")</p>
<p>@Html.ActionLink("Newsletter", "Newsletter")</p>

