@model DetroitHills.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/login_back.jpg);">
    <div class="bradcumbContent">
        <h2>@Resources.Resource.Login</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>@Resources.Resource.WelcomeBack</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label>@Resources.Resource.UserName</label>
                               
                                <p>@Html.EditorFor(mbox => Model.username, new { htmlAttributes = new { @class = "form-control" } }) </p>
                            </div>
                            <div class="form-group">
                                <label>@Resources.Resource.Password</label>
                                <p> @Html.EditorFor(mbox => Model.password, new { htmlAttributes = new { @class = "form-control" } }) </p>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">@Resources.Resource.Login</button>
                     }
                            <div class="form-group">
                                <p></p>
                                <label><a href="@Url.Action("Register", "Home")">@Resources.Resource.linkRegister</a></label>
                            </div>
                                           

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

