@model DetroitHills.ViewModels.MyOrdersVM
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/shop_back.jpg);">
    <div class="bradcumbContent">
        <h2>@Resources.Resource.MyOrders</h2>
    </div>
</section>

<section class="section-padding-100">

    <div class="container">
        <div class="row justify-content-center">

            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="column1">@Resources.Resource.Item</th>
                        <th class="column2">@Resources.Resource.Amount</th>
                        <th class="column3">@Resources.Resource.Status</th>
                    </tr>
                </thead>
                @foreach (var u in Model.orders)
                {
                    <tbody class="table100-body">
                        <tr>
                            <td class="column1">@Html.DisplayFor(m => u.item)</td>
                            <td class="column2">@Html.DisplayFor(m => u.amount)</td>
                            @if (Session["lang"] == null || Session["lang"].ToString().Equals("en"))
                            {
                                <td class="column3">@Html.DisplayFor(m => u.status)</td>
                            }
                            else
                            {
                                <td class="column3">@Html.DisplayFor(m => u.status_lng)</td>
                            }

                        </tr>

                    </tbody>
                }
            </table>
        </div>
    </div>
</section>
