@model DetroitHills.ViewModels.CommentsVM

<div class="contact-form-area form-group section-padding-50">
    <h3>@Resources.Resource.Comments</h3>

    @if (Session["login"] != null)
    {
        using (Ajax.BeginForm("CommentList", new AjaxOptions { UpdateTargetId = "results" }))
        {
            @Html.HiddenFor(m => Model.newComment.CommentId)
            @Html.HiddenFor(m => Model.newComment.PostId)
            @Html.HiddenFor(m => Model.newComment.userName)
            
            @Html.EditorFor(m => Model.newComment.text, new { htmlAttributes = new { @class = "form-control" } })

            <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
        }
    }
    else
    {        
        <text> @Resources.Resource.LogInComments @Html.ActionLink(Resources.Resource.Log_In, "Login")</text>
    }
</div>

<div class="col-12" id="results">
    @foreach (var u in Model.commentsList)
    {
        <div class="post-text-com">
            <h5>@Html.DisplayFor(m => u.userName):</h5>
            <p> @Html.DisplayFor(m => u.text)</p>
            @Html.DisplayFor(m => u.date)
        </div>
        
    }   
    
</div>

 