@model DetroitHills.ViewModels.NewsVM
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/news_back.jpg);">
    <div class="bradcumbContent">
        <h2>@Resources.Resource.News</h2>
    </div>
</section>

    <section>
        <!-- ##### Blog Area Start ##### -->
        <div class="blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        @foreach (var u in Model.posts)
                        {
                    <!-- Single Post Start -->
                            <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                                <!-- Post Thumb -->
                                <div class="blog-post-thumb mt-30">
                                    <a href="#"><img src="@Html.DisplayFor(m => u.image)" alt=""></a>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <span>@Html.DisplayFor(m => u.date.Day)</span>
                                        <span>@Html.DisplayFor(m => u.date.Month) @Html.DisplayFor(m => u.date.Year)</span>
                                    </div>
                                </div>

                                <!-- Blog Content -->
                                <div class="blog-content">
                                    <!-- Post Title -->
                                    @if (Session["lang"] == null || Session["lang"].ToString().Equals("en"))
                                    {
                                        <a href="#" class="post-title">@Html.DisplayFor(m => u.title)</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="post-title">@Html.DisplayFor(m => u.title_lng)</a>
                                    }
                                    <!-- Post Meta -->
                                    <div class="post-meta d-flex mb-30">                                        
                                        <p ><button class="btn btn-light" onclick="location.href='@Url.Action("Post", "Home", new {id = u.PostId })'">See More</button></p>
                                        
                                       @if (Session["login"] != null)
                                       {
                                           if (Session["login"].ToString().Equals("admin"))
                                           {
                                            <p ><button onclick="location.href='@Url.Action("EditPost", "Admin", new { id = u.PostId })'" class="btn btn-light">Edit Post</button></p>
                                            using (Html.BeginForm("DeletePost", "Admin", new { id = u.PostId }))
                                            {
                                                <p><button type="submit" class="btn btn-danger">Delete Post</button></p>
                                            }
                                           }
                                       }

                                    </div>
                                    @if (Session["lang"] == null || Session["lang"].ToString().Equals("en"))
                                    {
                                        if (u.text.Length <= 50)
                                        {
                                            <p>@u.text </p>
                                        }
                                        else
                                        {
                                            <p>@u.text.Substring(0, 50) ... </p>
                                        }
                                    }
                                    else
                                    {
                                        if (u.text_lng.Length <= 50)
                                        {
                                            <p>@u.text_lng </p>
                                        }
                                        else
                                        {
                                            <p>@u.text_lng.Substring(0, 50) ... </p>
                                        }
                                    }
                                    <p class="tags">@Html.DisplayFor(m => u.numOfComments) @Resources.Resource.Comments</p> 
                                </div>
                            </div>
                        }

                        

                    </div>
                </div>
            </div>
        </div>
    </section>
   