@model DetroitHills.Models.Post
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(@Html.DisplayFor(m => Model.image));">
    <div class="bradcumbContent">
        <h2>@Resources.Resource.News</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    @if (Session["lang"] == null || Session["lang"].ToString().Equals("en"))
                    {
                        <h3>@Html.DisplayFor(m => Model.title)</h3>

                        <div class="post-text">
                            @Html.DisplayFor(m => Model.text)
                        </div>
                    }
                    else
                    {
                        <h3>@Html.DisplayFor(m => Model.title_lng)</h3>

                        <div class="post-text">
                            @Html.DisplayFor(m => Model.text_lng)
                        </div>
                    }
                </div>
                @Html.Action("NewComment", "Home", new { postId = Model.PostId })
            </div>
        </div>
    </div>
    
</section>






