@model DetroitHills.ViewModels.ShopVM
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/shop_back.jpg);">
    <div class="bradcumbContent">
        <h2>@Resources.Resource.Shop</h2>
    </div>
</section>


<section class="events-area section-padding-100">
    <div class="container">
        <div class="row">

            @foreach (var u in Model.shop)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-event-area mb-30">
                        <div class="event-thumbnail">
                            <img src="@Html.DisplayFor(m => u.photo)" alt="">
                        </div>
                        <div class="event-text">
                            <h4>@Html.DisplayFor(m => u.name)</h4>
                            <div class="event-meta-data">
                            @if (Session["lang"] == null || Session["lang"].ToString().Equals("en") || u.price_lng==null)
                            {
                                <a href="#">@Html.DisplayFor(m => u.price)</a>
                                <p></p>
                            }
                            else
                            {
                                <a href="#">@Html.DisplayFor(m => u.price_lng)</a>
                                <p></p>
                            }
                                @if (Session["login"] != null)
                                {
                                    if (Session["login"].ToString().Equals("admin"))
                                    {
                                        
                                            <button onclick="location.href='@Url.Action("EditItem", "Admin", new { id = u.ItemId })'" class="btn btn-light">Edit</button>
                                        
                                        using (Html.BeginForm("DeleteItem", "Admin", new { id = u.ItemId }))
                                        {
                                               <button type="submit" class="btn btn-danger">Delete</button>
                                            }
                                        
                                    }
                                }
                            </div>
                            <a href="@Url.Action("Order", "Home", new { id = u.ItemId })" class="btn see-more-btn">@Resources.Resource.Buy</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
